.mypage__inner__nav
  %ul.mypage__inner__nav__list
    %li
      = link_to "マイページ", mypages_path
      = icon("fas", "chevron-right", class: "icon")
    %li
      = link_to "お知らせ"
      = icon("fas", "chevron-right", class: "icon")
    %li
      = link_to "やることリスト"
      = icon("fas", "chevron-right", class: "icon")
    %li
      = link_to "いいね！一覧"
      = icon("fas", "chevron-right", class: "icon")
    %li
      = link_to "出品する"
      = icon("fas", "chevron-right", class: "icon")
    %li
      = link_to "出品した商品 - 出品中"
      = icon("fas", "chevron-right", class: "icon")
    %li
      = link_to "出品した商品 - 取引中"
      = icon("fas", "chevron-right", class: "icon")
    %li
      = link_to "出品した商品 - 売却済み"
      = icon("fas", "chevron-right", class: "icon")
    %li
      = link_to "購入した商品 - 取引中"
      = icon("fas", "chevron-right", class: "icon")
    %li
      = link_to "購入した商品 - 過去の取引"
      = icon("fas", "chevron-right", class: "icon")
    %li
      = link_to "ニュース一覧"
      = icon("fas", "chevron-right", class: "icon")
    %li
      = link_to "評価一覧"
      = icon("fas", "chevron-right", class: "icon")
    %li
      = link_to "ガイド"
      = icon("fas", "chevron-right", class: "icon")
    %li
      = link_to "お問い合わせ"
      = icon("fas", "chevron-right", class: "icon")

  .mypage__inner__nav__head メルペイ
  %ul.mypage__inner__nav__list
    %li
      = link_to "売上・振込申請"
      = icon("fas", "chevron-right", class: "icon")
    %li
      = link_to "ポイント"
      = icon("fas", "chevron-right", class: "icon")

  .mypage__inner__nav__head 設定
  %ul.mypage__inner__nav__list
    %li
      = link_to "プロフィール"
      = icon("fas", "chevron-right", class: "icon")
    %li
      = link_to "住所変更"
      = icon("fas", "chevron-right", class: "icon")
    %li
      = link_to "支払い方法", creditcard_path
      = icon("fas", "chevron-right", class: "icon")
    %li
      = link_to "メール/パスワード"
      = icon("fas", "chevron-right", class: "icon")
    %li
      = link_to "本人情報"
      = icon("fas", "chevron-right", class: "icon")
    %li
      = link_to "電話番号の確認"
      = icon("fas", "chevron-right", class: "icon")
    %li
      = link_to "ログアウト", logout_path
      = icon("fas", "chevron-right", class: "icon")