= render "items/header"
.mypage
 .bread
    - breadcrumb :informations
    = breadcrumbs separator: "&rsaquo;"
  .mypage__inner
    = render "mypages/mypage-sidebar"
    .mypage__inner__main
      .mypage__inner__main__top
        %p 本人情報の登録
      .mypage__inner__main__contents
        .head-info
          .head-info__left
            %p お客さまの本人情報をご登録ください。<br>登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          .head-info__right
            = link_to "本人確認書類のアップロードについて"
            = icon("fas", "chevron-right", class: "icon")
        =form_with url: "#" do |f|
          .form-group
            お名前
          = current_user.name_family
          = current_user.name_first
          .form-group
            お名前カナ
          = current_user.kana_family
          = current_user.kana_first
          .form-group
            生年月日
          = current_user.birthday
          .form-group
            郵便番号
            %span 任意
            .form-group__text
              = f.text_field :content, class: "form-group__area", placeholder: "例)1234567"
          .form-group
            都道府県
            %span 任意
            .form-group__text
              %select{name: "prefecture"}
                %option{selected: "selected", value: ""} --
                %option{value: "1"} 北海道
                %option{value: "2"} 青森県
                %option{value: "3"} 岩手県
                %option{value: "4"} 宮城県
                %option{value: "5"} 秋田県
                %option{value: "6"} 山形県
                %option{value: "7"} 福島県
                %option{value: "8"} 茨城県
                %option{value: "9"} 栃木県
                %option{value: "10"} 群馬県
                %option{value: "11"} 埼玉県
                %option{value: "12"} 千葉県
                %option{value: "13"} 東京都
                %option{value: "14"} 神奈川県
                %option{value: "15"} 新潟県
                %option{value: "16"} 富山県
                %option{value: "17"} 石川県
                %option{value: "18"} 福井県
                %option{value: "19"} 山梨県
                %option{value: "20"} 長野県
                %option{value: "21"} 岐阜県
                %option{value: "22"} 静岡県
                %option{value: "23"} 愛知県
                %option{value: "24"} 三重県
                %option{value: "25"} 滋賀県
                %option{value: "26"} 京都府
                %option{value: "27"} 大阪府
                %option{value: "28"} 兵庫県
                %option{value: "29"} 奈良県
                %option{value: "30"} 和歌山県
                %option{value: "31"} 鳥取県
                %option{value: "32"} 島根県
                %option{value: "33"} 岡山県
                %option{value: "34"} 広島県
                %option{value: "35"} 山口県
                %option{value: "36"} 徳島県
                %option{value: "37"} 香川県
                %option{value: "38"} 愛媛県
                %option{value: "39"} 高知県
                %option{value: "40"} 福岡県
                %option{value: "41"} 佐賀県
                %option{value: "42"} 長崎県
                %option{value: "43"} 熊本県
                %option{value: "44"} 大分県
                %option{value: "45"} 宮崎県
                %option{value: "46"} 鹿児島県
                %option{value: "47"} 沖縄県
          .form-group
            市町区村
            %span 任意
            .form-group__text
              = f.text_field :content, class: "form-group__area", placeholder: "例)1234567"
          .form-group
            番地
            %span 任意
            .form-group__text
              = f.text_field :content, class: "form-group__area", placeholder: "例)1234567"
          .form-group
            建物名
            %span 任意
            .form-group__text
              = f.text_field :content, class: "form-group__area", placeholder: "例)1234567"
          .button
            %button.btn{:type => "submit"} 変更する
        .bottom-info
          = link_to "本人確認書類のアップロードについて"
          = icon("fas", "chevron-right", class: "icon")

= render "items/aside"
= render "items/footer"