.login
  .login__body
    .login__body__header-selectPage
      = link_to root_path do
        = image_tag ("/fmarket_logo_red.svg"),size: "180x45"

    .login__body__main
      .login__body__main__title
        .login__body__main__title__text
          アカウントをお持ちでない方はこちら
        .login__body__main__title__new-link
          = link_to "新規会員登録", '/users/sign_up', class: 'email'

      .login__body__main__select
        = link_to user_facebook_omniauth_authorize_path, class: "facebook" do
          .content-box
            Facebookでログイン
      .login__body__main__select
        = link_to user_google_oauth2_omniauth_authorize_path, class: "google" do
          .content-box
            Googleでログイン

      .login__body__main__formArea
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メールアドレス"
          = f.password_field :password, autocomplete: "current-password", placeholder:"パスワード"

          .login__body__main__formArea__submit
            = f.submit "ログイン"

          .login__body__main__formArea__password-remind
            = link_to "パスワードをお忘れの方", '#'


    .login__body__footer
      %ul
        %li
          = link_to "プライバシーポリシー"
        %li
          = link_to "メルカリ利用規約"
        %li
          = link_to "特定商取引に関する表記"
      .regist-footer--logo
        = image_tag ("/logo_gray.svg"),size: "220x80"
      .regist-footer--copy-right
        ©︎Mercari.Inc
