.buy_confirm_page
  .header_confirm
    .header_confirm__logo
    .header_confirm__mercari
      = link_to image_tag('fmarket_logo_red.svg', size: "230x65"), "/"
  .confirm
    .confirm__head
      購入内容の確認
    .confirm__item
      .confirm__item__image
      .confirm__item__params
        .confirm__item__params__name
          Abag
        .confirm__item__params__price
          ¥5000 (税込) 送料込み
    .confirm__price
      .confirm__price__payment
        支払い金額
        .confirm__price__payment--price
          ¥5000
      .confirm__price__point
        = check_box_tag :test, class: "check_box"
        = label_tag :test, "ポイントを使用(所持ポイント：P0)"
    .confirm__payment
      .confirm__payment__params
        .confirm__payment--params
          支払い方法


        - if @default_card_information.blank?
          %br /
        - else


        .confirm__payment--whih
          クレジットカード
        .confirm__payment--num
          = "**** **** **** " + @default_card_information.last4
        .confirm__payment--limit
          有効期限
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year

        .confirm__payment--brand
          visa
      .confirm__payment--change_btn
        = link_to "変更する", new_card_path, id: "change_btn"
    .confirm__Shipping_address
      .confirm__Shipping_address__params
        .confirm__Shipping_address__params--haisousaki
          配送先
        .confirm__Shipping_address__params--yuubinnbanngou
          〒111-2222
        .confirm__Shipping_address__params--zyuusyo
          渋谷区渋谷町1-22-33
        .confirm__Shipping_address__params--tatemono
          アジアビル
        .confirm__Shipping_address__params--namae
          鈴木さん
      .confirm__Shipping_address__change_btn
        = link_to "変更する", "/", id: "change_btn"

    = form_with(action: :pay, url: "/purchase/pay", method: :post, local: true) do |form|
      .confirm__btn
        = form.submit "購入する", class: "confirm__btn--btn"


        
  .footer_confirm
    .footer_confirm__reading
      = link_to "プライバシーポリシー", "/", id: "reading_link"
      = link_to "メルカリ利用規約", "/", id: "reading_link"
      = link_to "特定商取引に関する表記", "/", id: "reading_link"
    .footer_confirm__logo
      .footer_confirm__logo--marc
        = link_to image_tag("logo_gray.svg", size: "100x100"), "/"
      .footer_confirm__logo--inc
        ©️mercari, Inc.
-# .to_s(:delimited)} 金額に小数点をつけよう。