.header
  .header__inner
    .header__inner__upper
      .header__inner__upper__left
        .header__inner__upper__left__logo
          = image_tag ("/fmarket_logo_red.svg"),size: "180x45"
      .header__inner__upper__form
        =form_with(url: search_items_path, method: :get, local: true) do |f|
          = f.text_field :keyword, class: 'header__inner__upper__form__area', placeholder: '何かお探しですか？'
        .header__inner__upper__form__buttom
    .header__inner__lower
      .header__inner__lower__left
        .header__inner__lower__left__categories
          .header__inner__lower__left__categories__logo
            = link_to "カテゴリーから探す", new_item_path
        .header__inner__lower__left__brands
          .header__inner__lower__left__brands__logo
            = link_to "ブランドから探す"

      - if user_signed_in?
        %ul.header__inner__lower__right
          %li.header__inner__lower__right__content
            = link_to "いいね一覧"
          %li.header__inner__lower__right__content
            = link_to "お知らせ"
          %li.header__inner__lower__right__content
            = link_to "やることリスト"
          %li.header__inner__lower__right__content

            - if user_signed_in?
              = link_to "マイページ", mypages_path, method: :get
            - else
              = link_to "マイページ", '/users/sign_up'
          %li.header__inner__lower__right__content
            = link_to "ログアウト", destroy_user_session_path, method: :delete
      - else
        %ul.header__inner__lower__right
          %li.header__inner__lower__right__content
            = link_to "新規会員登録", '/users/sign_up'
          %li.header__inner__lower__right__content
            = link_to "ログイン", '/users/sign_in'

  .header__img
