.wrapper
  .main
    .main__inner
      .main__inner__top
        .main__inner__top__img
          .main__inner__top__img__inner
            .main__inner__top__img__inner__img
              = image_tag ("/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png"),size: "440x390"
            .main__inner__top__img__inner__contents
              .main__inner__top__img__inner__contents__text
                スマホで かんたん
                %br
                フリマアプリ
              .main__inner__top__img__inner__contents__sub-text
                メルカリはスマホカメラからすぐに出品できる
                %br
                購入時も安心な独自システムのアプリです
              .main__inner__top__img__inner__contents__app
                .main__inner__top__img__inner__contents__app__store
                  = image_tag ("")
                .main__inner__top__img__inner__contents__app__store
                  = image_tag ("")
      .main__inner__pick-up
        .main__inner__pick-up__upper
          人気カテゴリー
        .main__inner__pick-up__lower
          %ul.main__inner__pick-up__lower__contents
            %li.main__inner__pick-up__lower__contents__name
              %a.main__inner__pick-up__lower__contents__name__inner
                レディース
            %li.main__inner__pick-up__lower__contents__name
              %a.main__inner__pick-up__lower__contents__name__inner
                メンズ
            %li.main__inner__pick-up__lower__contents__name
              %a.main__inner__pick-up__lower__contents__name__inner
                家電・スマホ・カメラ
            %li.main__inner__pick-up__lower__contents__name
              %a.main__inner__pick-up__lower__contents__name__inner
                おもちゃ・ホビー・グッズ

    .main__inner__new-arrivals
      .main__inner__new-arrivals__upper
        .main__inner__new-arrivals__upper__left
          レディース新着アイテム
        .main__inner__new-arrivals__upper__right
          = link_to "もっと見る>"
      .main__inner__new-arrivals___lower
        %ul.main__inner__new-arrivals__lower__items
          - @items.each do |item|
            - item.item_images.first(1).each do |img|
              %li.main__inner__new-arrivals__lower__items__item
                .main__inner__new-arrivals__lower__items__item__img
                  = link_to item_path(item) do
                    = image_tag img.image.url, width: "188px", hight: "188px" ,class:"item-image"
                  - if item.transaction_status == 2
                    .main__inner__new-arrivals__lower__items__item__img--sold
                    .main__inner__new-arrivals__lower__items__item__img--word SOLD
                  .main__inner__new-arrivals__lower__items__item__img__price
                    ¥
                    = item.price.to_s(:delimited)
                .main__inner__new-arrivals__lower__items__item__name
                  = item.name
    .main__inner__new-arrivals
      .main__inner__new-arrivals__upper
        .main__inner__new-arrivals__upper__left
          メンズ新着アイテム
        .main__inner__new-arrivals__upper__right
          = link_to "もっと見る>"
      .main__inner__new-arrivals___lower
        %ul.main__inner__new-arrivals__lower__items
          - @items.each do |item|
            - item.item_images.first(1).each do |img|
              %li.main__inner__new-arrivals__lower__items__item
                .main__inner__new-arrivals__lower__items__item__img
                  = link_to item_path(item) do
                    = image_tag img.image.url, width: "188px", hight: "188px" ,class:"item-image"
                  - if item.transaction_status == 1
                    .main__inner__new-arrivals__lower__items__item__img--sold
                    .main__inner__new-arrivals__lower__items__item__img--word SOLD
                  .main__inner__new-arrivals__lower__items__item__img__price
                    ¥
                    = item.price.to_s(:delimited)
                .main__inner__new-arrivals__lower__items__item__name
                  = item.name
    .main__inner__new-arrivals
      .main__inner__new-arrivals__upper
        .main__inner__new-arrivals__upper__left
          家電・スマホ・カメラ新着アイテム
        .main__inner__new-arrivals__upper__right
          = link_to "もっと見る>"
      .main__inner__new-arrivals___lower
        %ul.main__inner__new-arrivals__lower__items
          - @items.each do |item|
            - item.item_images.first(1).each do |img|
              %li.main__inner__new-arrivals__lower__items__item
                .main__inner__new-arrivals__lower__items__item__img
                  = link_to item_path(item) do
                    = image_tag img.image.url, width: "188px", hight: "188px" ,class:"item-image"
                  - if item.transaction_status == 1
                    .main__inner__new-arrivals__lower__items__item__img--sold
                    .main__inner__new-arrivals__lower__items__item__img--word SOLD
                  .main__inner__new-arrivals__lower__items__item__img__price
                    ¥
                    = item.price.to_s(:delimited)
                .main__inner__new-arrivals__lower__items__item__name
                  = item.name
    = render 'sell-btn'
