.sell-page
  .sell-page__header
    %h1
      %a
        mercariロゴ
        %img
  .sell-page__form
    = form_for @item, local: true do |f|
      .sell-page__form--header
        %h2
          商品の情報を入力
      .sell-page__form--image
        .sell-page__form--image--label
          %p.bold
            出品画像
          %p.red-solid
            必須
        %p#small
          最大10枚までアップロードできます
        #image-box-1
          #previews
            - @item.item_images.each_with_index do |img, i|
              - if img.image.url.present?
                .label
                  = image_tag img.image.url, width: "114px", height: "72px", id: "#{i}"
                  .js
                    %a.js-edit 編集
                    %a.js-remove2 削除
          #image-box__container
            = f.fields_for :item_images do |i|
              = f.label :image, class: 'item-num-0' do
                = i.file_field :image, class: 'js-file', style: 'display: none'
                = i.hidden_field :_destroy, value: false
                %pre
                  ドラッグアンドドロップ
                  またはクリックしてファイルをアップロード
      .sell-page__form--name
        .sell-page__form--name--label
          %p.bold
            商品名
          %p.red-solid
            必須
        .sell-page__form--name--field
          = f.text_field :name, placeholder: "商品名(必須40文字まで)"
        .sell-page__form--name--label2
          %p.bold
            商品の説明
          %p.red-solid
            必須
        .sell-page__form--name--description
          = f.text_area :discription, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）\r\n2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
      .sell-page__form--details
        %h2
          商品の詳細
        .sell-page__form--details--label
          %p.bold
            カテゴリー
          %p.red-solid
            必須
        #select
          = select_tag :category, options_for_select([["レディース", "レディース"],["メンズ", "メンズ"],["ベビー・キッズ", "ベビー・キッズ"],["インテリア・住まい・小物", "インテリア・住まい・小物"]]), prompt: "---"
          #select
            = select_tag :category, options_for_select([["トップス", "トップス"],["ジャケット/アウター", "ジャケット/アウター"],["パンツ", "パンツ"],["靴", "靴"]]), prompt: "---"
            #select
              = select_tag :category, options_for_select([["Tシャツ/カットソー", "Tシャツ/カットソー"],["シャツ", "シャツ"],["タンクトップ", "タンクトップ"],["ニット/セーター", "ニット/セーター"]]), prompt: "---"
        .sell-page__form--details--label
          %p.bold
            商品の状態
          %p.red-solid
            必須
        #select
          = f.select :condition, Item.conditions.keys, {prompt: "---"}

        .sell-page__form--details--status
      .sell-page__form--shipping
        %h2
          配送について
        .sell-page__form--shipping--label
          %p.bold
            配送料の負担
          %p.red-solid
            必須
        .sell-page__form--shipping--select
          = f.select :shipping_charge, Item.shipping_charges.keys, {prompt: "---"}
        .sell-page__form--shipping--label
          %p.bold
            発送元地域
          %p.red-solid
            必須
        .sell-page__form--shipping--select
          = f.select :prefecture, Item.prefectures.keys, {prompt: "---"}
        .sell-page__form--shipping--label
          %p.bold
            発送までの日数
          %p.red-solid
            必須
        .sell-page__form--shipping--select
          = f.select :shipping_date, Item.shipping_dates.keys, {prompt: "---"}
      .sell-page__form--price
        %h2
          販売価格（300~9,999,999）
        .sell-page__form--price--label
          %p.bold
            価格
          %p.red-solid
            必須
          .sell-page__form--price--label--place
            %p#font-size
              ¥        
              = f.number_field :price, min: 300, max: 9999999, placeholder: "例) 300"
        .sell-page__form--price--profit.tax
          販売手数料（10%）
          %p.js-tax ¥ #{@tax.to_s(:delimited)}
        .sell-page__form--price--profit.bold
          販売利益
          %p.js-price ¥ #{@profit.to_s(:delimited)}
      .sell-page__form--btn
        .sell-page__form--btn--caution
          = link_to "禁止されている出品"
          、
          = link_to "行為"
          行為を必ずご確認ください。
          %br
          またブランド品でシリアルナンバー等がある場合はご記載ください。
          = link_to "偽ブランドの販売"
          は犯罪であり処罰される可能性があります。
          %br
          また、出品をもちまして
          = link_to "加盟店規約"
          に同意したことになります。
        .sell-page__form--btn--exhibition
          = f.submit "出品する", class: 'sell-page__form--btn--exhibition--do', name: 'item[commit]'
          = link_to "もどる", "/", class: 'sell-page__form--btn--exhibition--back'
  .sell-page__footer
    = link_to "プライバシーポリシー", "/", class: 'sell-page__footer--text'
    = link_to "メルカリ利用規約", "/", class: 'sell-page__footer--text'
    = link_to "特定商取引に関する表記", "/", class: 'sell-page__footer--text'
    .sell-page__footer--copyright
      &copy; Mercari,inc.