.header
  メルカリTOPページです。
  .header__right
    - if user_signed_in?
      .header__right--loggingIn
        .loggingName
          こんにちは
          = current_user.name_family
          様
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'loggingIn'
    - else
      .header__right--regist
        -# = link_to "新規登録", '/users/sign_up', class: 'regist'
        = link_to "新規登録", 'purchase#index', class: 'regist'

      .header__right--login
        = link_to "ログイン", '/users/sign_in', class: 'login'
.wrapper
  = render 'header'
  = render 'main'
  = render 'footer'
